* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #323A45;
  height: 850px;
}
header {
  color: skyblue;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  padding: 1%;
}
main {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "one two three";
  grid-template-rows: 2fr 2fr 2fr;
  height: 100%;
  margin: 0 10%;
  padding: 1%;
}
.one,
.two,
.three {
  background: #FFFFFF;
  border-radius: 1%;
  padding: 1%;
  text-align: justify;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.user-name,
p {
  padding: 1%;
  text-align: center;
}
p {
  text-decoration: underline;
}
.user-data {
  padding: 1% 1% 3%;
  text-decoration: none;
}
span {
  font-weight: bold;
}
